
/*------------------------------------*\
  #HEADER-STYLES
\*------------------------------------*/

// company introduction (header top section) styles
 .companyIntroduction {
  ul{
    padding: 16px 10px;
  }
 }

.contactData {
  margin-right: 20px;

  > {
    span {
      &:not(:first-child) {
        margin-left: 18px;
      }
    }
  }

  .icon {
    margin-right: 5px;
  }
}

.socialMedia {
  span {
    &:not(:first-child) {
      margin-left: 18px;
    }
  }

  a {
    &:hover .icon {
      transition: all .5s;
      color: $main-brand-color;
      cursor: pointer;
    }
  }
}

// company certification (header middle section) styles
.companyCertification {
  ul {
    padding: 30px 10px;
  }

  .companyCertificate {
    > {
      div {
        margin-left: 40px;
      }
    }

    .btn-download {
      border: 1px solid $main-brand-color;
      &:hover {
        transition: all .3s ease-in;
        background-color:transparent;
      }

      &:hover i {
        transition: all .6s ease-in;
        color: $white;
      }

      &:hover span {
        transition: all .6s ease-in;
        color: $white;
      }
    }

    .icon {
      margin-right: 20px;
      font-size: 20px
    }

    h4 {
      color: $white;
      margin-bottom: 5px;
    }
  }

}

// navbar (header bottom section) styles
.navbar-items {
  .item {
    padding: 25px 20px;
    position: relative;

    &:not(:first-child) {
      margin-left: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 5px;
      bottom: 0;
      left: 0;
      background-color: $main-brand-color;
      transition: all .5s ease;
    }

    &:hover::before {
      width: 100%;
    }
  }

  .link {
    color: $primary-dark-1;
    font : {
      size: 18px;
      weight: bold
    }
  }
}

.searchBox-shape {
  width: 72px;
  height: 72px;
  background-color: $main-brand-color;

  &:hover {
    transition: all .3s ease-in;
    background-color: #000;
    border: 1px solid $main-brand-color;
  }

  &:hover i {
    transition: all .6s ease-in;
    color: $white;
  }
}

.searchBox-afterHover {
  padding: 11px 20px;
  width: 100%;

  .searchBox-content {
    display: block;
    width: 80%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;

    &::placeholder {
      padding-left: 30px;
      font-size: 18px;
    }
  }
}




@import "./_headerResponsive" ;