/*!
*
*  #VARIABLES
* 
*/
$main-brand-color: #fdc900 ;


$primary-dark-1: #222628 ;
$primary-dark-2: #292d2f ;
$primary-light-1:#f4f4f4 ;
$primary-light-2:#f7f7f7 ;


$gray-1: #a3adb2 ;//text-gray
$gray-2: #f7f0f0 ;//divider-color


$white: #ffffff ;



