
/*------------------------------------*\
  #MAIN-STYLES  homepart-2
\*------------------------------------*/

// Latest Projects
.homepart-2 {
  padding: 80px 0;

  .projects {
    .ptojects-images {
      margin-top: 50px;
      flex-wrap: wrap;
    }
  }

  .projects-category {
    .projects-category-items {
      padding-right: 5px;

      .item {
        &:hover {
          transition: all .3s ease-in;
          color: $main-brand-color;
        }

        &:not(:last-child)::after {
          content: '/';
          margin: 0 7px
        }
      }
    }
  }
}


@import "./_homePart-2-responsive.scss";